/* Estilo utilizado no exemplo */
			
div#caixa{
display: inline-block; 
width: 800px;
height: 450px;
margin-top: 50px;
margin-left: 60px;
background-color: #F3F3F3;

}


div#caixa p#abas {display: inline-block; 
width: 800px; 
height: 40px; 
overflow: hidden; 
vertical-align: bottom;
font-size: 14px; 
font-weight: bold; 

}/*Controla os botoes Cadastro Requerente Anexo Carga*/

div#caixa p#abas a {
display: inline-block; 
background-color: #F3F3F3;
text-decoration: none; 
padding: 12px 26px 12px 26px; 
color : black; 
font-size: 14px;
text-align: center;
}
						
div#caixa p#abas a:hover {
background-color: #A7BEC9;
color:white;
}
						
div#caixa p#abas a.selected {
background-color:#024751;
color:white;
}
	
div#caixa ul#formularios {
display: inline-block; 
width: 800px; 
height: 348px; 
margin: 0; 
padding: 0; 

}
					
div#caixa ul#formularios li {
display: inline-block; 
width: 812px; 
height: 400px; 
margin: 10px 20px 10px 20px; 
padding: 0; 
overflow: auto;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
font-size: medium;
font-style: normal;

}



div#caixa p#link {
display: inline-block; 
width: 790px; 
height: 40px; 
overflow: hidden; 
vertical-align: bottom;
font-size: 14px; 
font-weight: bold; 

}/*Controla os botoes Cadastro Requerente Anexo Carga*/

div#caixa p#link {
display: inline-block; 
width: 790px; 
height: 40px; 
overflow: hidden; 
vertical-align: bottom;
font-size: 14px; 
font-weight: bold; 

}/*Controla os link Cadastro Requerente Anexo Carga*/

div#caixa p#link a {
display: inline-block; 
font-size: 14px; 
font-weight: bold; 
background-color: #C2FF86;
text-decoration: none; 
padding: 12px 26px 12px 26px; 

}

div#caixa p#link a:hover {
background-color: #FFE7C3;
}
						
div#caixa p#link a.selected {
background-color: Red;

}
	
