/**
*Zera a margem e o espaçamento em todos
*/
*{
	margin: 0;
	padding: 0;
}


body{
	width: 100%;
	height: 100%;
}

#externo{
	width: 95%;
	height: 100%;
	margin-left: 2%;
}

#TITULO{
	background-image: none;
	background-repeat: no-repeat;
	width:70%;
	height:100px;
	float: left;
}	

#LOGO{
	width:30%;
	height:100px;
	margin-left: 70%;

}

table{
	width: 100%;
}