body{
 background-image: url(../imagens/Site/Back.png); /*Esta propriedade define a imagem de fundo de um elemento*/
 background-attachment: fixed;
 background-repeat: repeat;
 background-position: center;
}


#externo, #cabecalho, #esquerda, #direita, #centro, #rodape{
	/*text-align: left;Esta propriedade descreve como o texto Ã© alinhado dentro do elemento
	border: solid 1px #000;/*Esta propriedade define o tipo de borda, o tamanho da borda e a cor da borda
	border-style: solid;/*Esta propriedade define o estilo das bordas de um elemento.  Ã‰ possÃ­vel especificar individualmente o estilo das bordas superior, direita, inferior e esquerda
	border-width: 1px;/*Esta propriedade define a espessura da borda de um elemento. Os valores correspondentes a cada palavra-chave sÃ£o definidos pelo browser.  Ã‰ possÃ­vel especificar individualmente as bordas superior, direita, inferior e esquerda
	border-color: #000;/*Esta propriedade define a cor das bordas de um elemento. Ã‰ possÃ­vel especificar individualmente o estilo das bordas superior, direita, inferior e esquerda 
	padding: 0px;/*Esta propriedade define os espaÃ§os internos de um elemento*/
}
#esquerda, #centro, #direita{
	/*margin: 10px 0; Esta propriedade define as margens de um elemento. No caso, 10px Ã© definida para cima (top) e embaixo (bottom) e o 0 Ã© para a esquerda (left) e para a direita (right)*/
}
#externo{
	background-attachment:fixed;
	background-repeat: no-repeat;
	position: relative;/*A propriedade â€œpositionâ€ do CSS especifica o tipo de posicionamento que um elemento terÃ¡ no documento, e deve receber um dos quatro valores:
	static 
PosiÃ§Ã£o estÃ¡tica de um elemento no fluxo normal. 
	relative
Posiciona o elemento de forma relativa ao fluxo normal, todos os outros elementos permanecem na mesma posiÃ§Ã£o como se o elemento relativo estivesse em sua posiÃ§Ã£o normal.
	absolute
Retira o elemento do fluxo normal, todos os outros elementos se comportam como se o elemento absoluto nÃ£o existisse. 
	fixed
IdÃªntico ao posicionamento absoluto, exceto que o elemento permanece fixo em relaÃ§Ã£o ao scroll.
*/
	margin: 0 auto;/*Esta propriedade define as margens de um elemento. No caso, 0 Ã© definida para cima (top) e embaixo (bottom) e o auto Ã© para a esquerda (left) e para a direita (right)*/
	width: 1024px;/*A propriedade â€œwidthâ€ especificam a largura de um elemento*/	
	 /*Esta propriedade define a cor de fundo de um elemento*/
}

#rodape{
	width:1024px;/*A propriedade â€œwidthâ€ especificam a largura de um elemento*/
	height:70px;/*A propriedade â€œheightâ€ especificam a altura de um elemento*/
	clear: both;/*Serve para prevenir que um elemento herde as propriedades atribuÃ­das*/
	background-image:url(../imagens/Site/rodape.png); /*Esta propriedade define a imagem de fundo de um elemento*/
}

#aviso{
	color: red;
}