body{
background-image: url(../imagens/Botao/Back.png); ;  /*Esta propriedade define a imagem de fundo de um elemento*/
 background-attachment: fixed;
 background-repeat: repeat;
 background-position: center;
}


#externo, #cabecalho, #esquerda, #direita, #centro, #rodape{
	/*text-align: left;Esta propriedade descreve como o texto é alinhado dentro do elemento
	border: solid 1px #000;/*Esta propriedade define o tipo de borda, o tamanho da borda e a cor da borda
	border-style: solid;/*Esta propriedade define o estilo das bordas de um elemento.  É possível especificar individualmente o estilo das bordas superior, direita, inferior e esquerda
	border-width: 1px;/*Esta propriedade define a espessura da borda de um elemento. Os valores correspondentes a cada palavra-chave são definidos pelo browser.  É possível especificar individualmente as bordas superior, direita, inferior e esquerda
	border-color: #000;/*Esta propriedade define a cor das bordas de um elemento. É possível especificar individualmente o estilo das bordas superior, direita, inferior e esquerda 
	padding: 0px;/*Esta propriedade define os espaços internos de um elemento*/
}
#esquerda, #centro, #direita{
	/*margin: 10px 0; Esta propriedade define as margens de um elemento. No caso, 10px é definida para cima (top) e embaixo (bottom) e o 0 é para a esquerda (left) e para a direita (right)*/
}
#externo{
background-attachment:fixed;
background-repeat: no-repeat;
position: relative;/*A propriedade “position” do CSS especifica o tipo de posicionamento que um elemento terá no documento, e deve receber um dos quatro valores:
	static 
Posição estática de um elemento no fluxo normal. 
	relative
Posiciona o elemento de forma relativa ao fluxo normal, todos os outros elementos permanecem na mesma posição como se o elemento relativo estivesse em sua posição normal.
	absolute
Retira o elemento do fluxo normal, todos os outros elementos se comportam como se o elemento absoluto não existisse. 
	fixed
Idêntico ao posicionamento absoluto, exceto que o elemento permanece fixo em relação ao scroll.
*/
	margin: 0 auto;/*Esta propriedade define as margens de um elemento. No caso, 0 é definida para cima (top) e embaixo (bottom) e o auto é para a esquerda (left) e para a direita (right)*/
	width: 1024px;/*A propriedade “width” especificam a largura de um elemento*/	
	}
#cabecalho {
	background-image: url();
	width: 1024px;
	height: 150px;
}
#rodape{
	width:1024px;/*A propriedade “width” especificam a largura de um elemento*/
	height:100px;/*A propriedade “height” especificam a altura de um elemento*/
	clear: both;/*Serve para prevenir que um elemento herde as propriedades atribuídas*/
	background-image: none;/*Esta propriedade define a imagem de fundo de um elemento*/
}

#info{
  width: 400px;
  margin-left:400px;
}